html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

li, p {
  line-height: 1.5;
}

.cuerpo-pagina {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cabecera {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cabecera-texto {
  margin-left: 20px;
}

.cabecera-opciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100px;
}

.informacion-sobre-mi {
  width: 100%;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mi-foto {
  width: 100%;
  max-width: 300px;
  border-radius: 20px;
  margin-top: 20px;
}

.informacion-sobre-mi-texto {
  margin: 30px;
  text-align: justify;
}

.informacion-sobre-mi-texto-lista {
  display: flex;
  justify-content: space-around;
}